<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tapper-extreme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C887C901D5BB1C20056B748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C887CA71D5BB1C30056B748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C887CB21D5BB1C30056B748</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
